body {
  color: rgba(67, 68, 85, 1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #ffffff;
}

ul li {
  list-style-type: none;
}

.logo {
  color: rgba(77, 90, 229, 1);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-black {
  color: rgba(46, 47, 66, 1);
}

.logo-white {
  color: rgba(244, 244, 253, 1);
}

.menu-nav {
  color: rgba(46, 47, 66, 1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.menu-nav:hover,
.menu-nav:focus {
  color: #404bbf;
  cursor: pointer;
}

.header-link-contact {
  color: rgba(67, 68, 85, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}

.header-link-contact:hover,
.header-link-contact:focus {
  color: #404bbf;
  cursor: pointer;
}

.current {
  color: rgba(46, 47, 66, 1);
}

/* Button */

.features-section {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(46, 47, 66, 1);
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.features-section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.features-section-button {
  background-color: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: 0px;
}

.features-section-button:hover,
.features-section-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.first-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.first-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.first-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-section {
  background-color: #f4f4fd;
}

.hero-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.footer {
  background-color: rgba(46, 47, 66, 1);
}

.footer-text {
  color: rgba(244, 244, 253, 1);
}
